* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}
.dropdown:hover>.dropdown-menu {
    display: block;
}
  
.dropdown>.dropdown-toggle:active {
    pointer-events: none;
}
.dropdown-item:hover {
    color: grey;
}
.footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    width: 100%;
}
.contactform {
    width: 50%;
    margin: auto;
}
.nav-item.dropdown.services {
    position: relative;
}

.nav-item.dropdown.services .dropdown-menu {
    margin-top: 0; /* Adjust this value if necessary */
}